<html>
<head>
  <title>Upload - pigeonvideo</title>
  </head>
  <style>
    input[type=file] {
      border: 2px solid red;
      border-radius: 4px;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
  <body style="background-image: linear-gradient(to top, #df43ab 0%, rgb(17, 194, 218) 100%);">
    <center>
    <h1>
      hello! upload a video to get started!
    </h1>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
    </center>
   </body>
</html>