<html>
<head>
  <title>Upload - pigeonvideo</title>
  </head>
  <style>
      
    *,
    html {
      margin: 0;
      padding: 0;
      border: 0;
    }
    body {}
    
    input[type=file] {
      border: 2px solid red;
      border-radius: 4px;
    }
    body {font-family: Arial, Helvetica, sans-serif;}
  </style>
  <body>
    <center>
    <h1>
      hello! upload a video to get started!
    </h1>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
    </center>
   </body>
</html>